<!doctype html>
<html>
  <head>
  </head>
  <body>
    <h1>Album FORM</h1>
    <div>
      <form action="/albums/new" method="POST" enctype="multipart/form-data">
        <label for="title">Title</label>
        <input id="title" type="text" name="title"/><br />
        <label for="artist">Artist</label>
        <input id="artist" type="text" name="artist"/><br />
        <label for="year">Year</label>
        <input id="year" type="text" name="year"/><br />
        <label for="genre">Genre</label>
        <input id="genre" type="text" name="genre"/><br />
        <label for="singleSong">Single</label>
        <input id="singleSong" type="text" name="singleSong"/><br />
 
        <input id="albumCover" type="file" name="albumCover"/><br />
        <input type="submit" value="Submit File" />
      </form>
    </div>
  </body>
</html>